@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: #2f4680;
  --secondary-color: #500ae4;
  --background-color-light: #e0f7fa; /* Light cyan */
  --background-color-dark: #0072ff; /* Dark blue */
  --input-background-color: #ebfffc;
  --text-color: #626262;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.app {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: linear-gradient(to bottom, var(--background-color-light), var(--background-color-dark)); /* Shaded background */
}
